@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.container-site {
    background-color: #2D333B;
}


#control-height {
    height: 100vh;
    width: 0;
    position: absolute;
}


/*  FOR DESKTOP ONLY!  ----------------------*/
.container-body {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    /* max-width: 1400px; */
    outline: 1px solid black;
    position: fixed;
    width: 100%;
}
/*-------------------------------------------*/

header {
    align-items: center;
    background-color: white;    /* #22272E */  
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 10vh;
    /* justify-content: space-between; */
    /* max-height: 70px;
    max-width: 1400px; */
    width: 100%;
    /* outline: 1px solid red; */
    /* visibility: hidden;    DO THIS IN JS WHEN MENU IS DISPLAYED ?????*/
}

.container-h1 {
    display: flex;
    justify-content: center;
    /* outline: 1px solid red; */
    flex-grow: 1;
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.hamburger-button {
    background-image: url("Images/hamburgerMenuIcon.png");
    background-size: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    /* outline: 1px solid red; */
}

.container-x-hamburger-button {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 70px;
    position: absolute;
    outline: 1px solid blue;
}

.x-hamburger-button {
    background-image: url("Images/XhamburgerMenuIcon.png");
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 18px;
    outline: 1px solid green; 
}

.container-grid {
    background-color: white;
    border: 1px solid black;
    display: grid;
    width: 100vw;
    height: 100vw;
    /* visibility: hidden;    DO THIS IN JS WHEN MENU IS DISPLAYED ????*/
}

.grid-pieces {
    border: 1px solid black;
}

.container-clear-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button {
    position: absolute;
}



/*
    MENU    ------------------------------------------------------------------------------
*/
.menu {
    background-color: white;
    width: 100vw;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
}

.showMenu {
    transform: translateX(0);
}

.hideMenu {
    transform: translateX(100%);
}
