@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}


#control-height {
    height: 100vh;
    width: 0;
    position: absolute;
}


.container-body {
    background-color: #FEFBEA;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    /* max-width: 1400px; */
    /* outline: 1px solid black; */
    position: fixed;
    /* width: 100%; */
}

header {
    align-items: center;
    background-color: FEFBEA;    /* FEFBEA   #22272E */  
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 70px;   /*  10vh?   */
    /* justify-content: space-between; */
    /* max-height: 70px;
    max-width: 1400px; */
    width: 100%;
    /* outline: 1px solid red; */
    /* visibility: hidden;    DO THIS IN JS WHEN MENU IS DISPLAYED ?????*/
}

.container-h1 {
    display: flex;
    justify-content: center;
    /* outline: 1px solid red; */
    flex-grow: 1;
}

.title {
    /* font-family: "Lato", sans-serif; */
    font-weight: 700;
    color: #222222;
}

.hamburger-button {
    background-image: url("Images/hamburgerMenuIcon.png");
    background-size: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    /* outline: 1px solid green; */
}


.container-grid {
    background-color: white;
    border: 1px solid black;
    display: grid;
    width: 100vw;
    height: 100vw;
    /* visibility: hidden;    DO THIS IN JS WHEN MENU IS DISPLAYED ????*/
}

.grid-pieces {
    border: 1px solid black;
}

.container-clear-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button {
    position: absolute;
    background-color: white;
    border: 2px solid #1D83F6;
    color: #1D83F6;
    border-radius: 10px;
    font-size: 25px;
    padding: 0.4em 0.75em 0.4em 0.75em;
    width: 4em;
    height: 2.25em;
}

.clear-button:active {
    font-size: 24px;
    box-shadow: none;
}



/*
    MENU    ------------------------------------------------------------------------------
*/
.menu {
    /* background-color: #8ec0fa00 ;     #8ec0fa71  #1d82f663   */
    width: 100vw;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.15s;
}

.showMenu {
    transform: translateX(0);
}

.hideMenu {
    transform: translateX(100%);
}

.x-hamburger-button {
    background-image: url("Images/XhamburgerMenuIcon.png");
    background-size: 123%;
    background-position: center;
    background-color: #FEFBEA;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin-top: 10px;
    margin-right: 17px;
    position: absolute;
    right: 0;
    left: auto;
    /* outline: 1px solid red;  */
}

.container-menu-options {
    background-color: #232323;    /*  #1d82f6   #1d82f6f5   */
    border-radius: 25px;
    /* box-shadow: 0px 0px 15px 10px #0c376956; */
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 25px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* outline: 1px solid black; */
    width: 80vw;
    /* height: 100%; */
    position: absolute;
    left: 10vw;
    right: 10vw;
    top: 15vh;
    /* bottom: 10vw; */
    padding-bottom: 1vh;
}

.menu-options {
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid black; */
}

#grid-boxes::-webkit-outer-spin-button,
#grid-boxes::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container-grid-boxes {
    align-self: end;
    justify-self: center;
}

.grid-boxes-stuff {
    margin-bottom: 5px;
}

#grid-boxes-input {
    -moz-appearance: textfield;
    font-size: 20px;
    width: 50px;
    height: 35px;
    margin-right: 15px;
    margin-left: -38px;
    padding-left: 5px;
}

.container-grid-lines {
    align-self: stretch;
    justify-self: center;
}

.grid-lines-button {
    background-color: gray;
    color: white;
    font-weight: 700;
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 0 6px 6px white;
    font-size: 25px;
    padding: .2em .4em;
    width: 200px;
    height: 50px;
}

.container-fade-to-black {
    align-self: start;
    justify-self: center;
}

#fade-to-black-button {
    background-color: gray;
    color: black;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 25px;
    padding: .2em .4em;
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

.input-color-container {
    border-top: 1px solid gray;
    width: 80%;
    align-self: stretch;
    justify-self: center;
}

#input-color {
    box-shadow: 0 0 6px 3px white;
    border: 3px solid white;
    border-radius: 8px;
    /* outline: 1px solid purple; */
    margin: 35px 0px 0px 0px;
    width: 200px;
    height: 50px;
}

#rainbow-button {
    /* background-color: white; */
    color: black;
    font-weight: 700;
    background-image: url("Images/RainbowBackground.png");
    border: 3px solid black;
    border-radius: 8px;
    font-size: 25px;
    padding: .2em .4em;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

/*
    MEDIA QUERY ------------------------------------------------------------------------------------------------------------------------
*/

@media (min-width: 700px)
and (max-height: 859px)
and (-webkit-min-device-pixel-ratio: 1) {
    body {
        background-color: #FEFBEA;  /* FEFBEA   EEF0F1 */
    }

    header {
        background-color: white;
    }

    .container-body {
        background-color: white;
        margin: 0 auto;
        max-width: 600px;
    }

    .title {
        margin-left: 70px;
    }

    .container-grid {
        max-height: 600px;
        max-width: 600px;
    }

    .menu {
        width: 600px;
        /* height: 750px; */
        transform: translateY(-100%);
        transition: transform 0s;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .showMenu {
        transform: translateY(0);
    }

    .x-hamburger-button {
        background-color: white;
    }

    .container-menu-options {
        background-color: #232323;    /*  #1d82f6   #1d82f6f5   */
        border-radius: 25px;
        /* box-shadow: 0px 0px 15px 10px #0c376956; */
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 25px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        /* outline: 1px solid black; */
        width: 500px;
        /* height: 100%; */
        position: absolute;
        /* left: 10vw;
        right: 10vw;
        top: 15vh; */
        /* bottom: 10vw; */
        padding-bottom: 1vh;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media (min-width: 700px)
and (min-height: 860px)
and (-webkit-min-device-pixel-ratio: 1) {
    body {
        background-color: #232323;  /* 2D333B   FEFBEA   EEF0F1 */
    }

    header {
        background-color: #FEFBEA;
    }

    .container-body {
        background-color: #FEFBEA;
        box-shadow: 0 10px 30px 20px black;
        margin: 0 auto;
        max-width: 700px;
    }

    .title {
        margin-left: 70px;
    }

    .container-grid {
        max-height: 700px;
        max-width: 700px;
    }

    .menu {
        width: 700px;
        /* height: 750px; */
        transform: translateY(-100%);
        transition: transform 0.075s;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .showMenu {
        transform: translateY(0);
    }

    .x-hamburger-button {
        background-color: #FEFBEA;
    }

    .container-menu-options {
        background-color: #232323;    /*  #1d82f6   #1d82f6f5   */
        border-radius: 25px;
        /* box-shadow: 0px 0px 15px 10px #0c376956; */
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 25px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        /* outline: 1px solid black; */
        width: 500px;
        /* height: 100%; */
        position: absolute;
        /* left: 10vw;
        right: 10vw;
        top: 15vh; */
        /* bottom: 10vw; */
        padding-bottom: 1vh;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
}