*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-site {
    background-color: #2D333B;
}


#control-height {
    height: 100vh;
    width: 0;
    position: absolute;
}


/*  FOR DESKTOP ONLY!  ----------------------*/
.container-body {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 1400px;
    outline: 1px solid black;
    position: fixed;
    width: 100%;
}
/*-------------------------------------------*/

header {
    background-color: white;    /* #22272E */  
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.25);
    height: 10vh;
    max-height: 70px;
    max-width: 1400px;
    width: 100%;
}


.container-grid {
    background-color: white;
    border: 1px solid black;
    display: grid;
    width: 100vw;
    height: 100vw;
}

.grid-pieces {
    border: 1px solid black;
}

.container-clear-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button {
    position: absolute;
}